#blimOn {
  display: block;
}

#blimOff {
  display: none;
}

div#containerHome {
  margin-top: 121px;
}

div#transition-images {
  position: relative;
  width: 100%;
  height: 81vh;
  overflow: hidden;
}

.banner-images {
  position: absolute;
  object-fit: cover;
  opacity: 0;
  transition: 1.5s;
}

#show-opacity {
  opacity: 1;
}

div#projects-slider {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  margin: 2rem auto;
  flex-direction: column;
}

.slider-sheet {
  width: 100%;
  max-width: 680px;
  height: 400px;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3rem auto;
}

.sheet {
  height: 90%;
  text-align: center;
  padding-top: 15rem;
  transition: 0.3s;
  opacity: 1;
  background: rgba(0, 0, 0, 0.529);
  font-weight: bold;
}

.slider-sheet:hover .sheet {
  opacity: 1;
}

.sheet p {
  font-size: 1.5rem;
  color: white;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.sheet a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin: 0 auto;
  width: 14rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 0.8rem;
  background: orange;
  transition: 0.2s;
  box-shadow: 2px 2px 12px #090909;
}

div#first-title-projects-home {
  margin-top: 5rem;
}

.sheet a:hover {
  text-decoration: none;
  background: rgb(216, 141, 2);
  color: white;
}

#projeto-01 {
  background-image: url("/home-projects/parceria.jpg");
}

#projeto-02 {
  background-image: url("/home-projects/leitura.jpg");
}

#projeto-03 {
  background-image: url("/home-projects/doacao.jpg");
}

#projeto-04 {
  background-image: url("/home-projects/abraco.jpg");
}

#projeto-05 {
  background-image: url("/home-projects/clubinho.jpg");
}

#projeto-06 {
  background-image: url("/home-projects/brecho.jpg");
}

#projeto-07 {
  background-image: url("/home-projects/parceria.jpg");
}

#projeto-08 {
  background-image: url("/home-projects/caixote.jpg");
}

.slider-sheet .title-div-h1 {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  background: #f5f4f4;
  padding-top: 1rem;
  margin: 0;
}

.slider-sheet .title-div-h1 h1 {
  text-align: center;
  font-size: 2rem;
}

#button-left {
  position: absolute;
  left: 0;
  top: 40%;
}

#button-right {
  position: absolute;
  right: 0;
  top: 40%;
}

.btn-slider {
  display: none;
}

.btn-slider:focus {
  outline: none;
}

.btn-slider:hover {
  color: white;
  outline: none;
}

.btn-slider[disabled]:hover {
  cursor: not-allowed;
  color: rgb(118, 117, 117);
  outline: none;
}

#project-h1 {
  display: block;
  text-align: center;
  margin-top: 2rem;
  color: rgb(89, 87, 87);
}

#project-p {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5rem;
  color: rgb(89, 87, 87);
}

@media (min-width: 1024px) {
  div#projects-slider {
    display: flex;
    width: 80%;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin: 2rem auto;
    flex-direction: row;
    gap: 0;
  }

  .slider-sheet {
    min-width: 25%;
    height: 100%;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    height: 81vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .btn-slider {
    display: block;
    background: none;
    border: none;
    font-size: 4rem;
    outline: none;
    transition: 0.2s;
  }

  .sheet {
    height: 90%;
    text-align: center;
    padding-top: 10rem;
    transition: 0.3s;
    box-shadow: 1px 2px 20px 5px #e20615cb;
    opacity: 0;
    background: #e20615cb;
    position: relative;
  }

  .slider-sheet:hover .sheet {
    opacity: 1;
  }

  .slider-sheet:hover .sheet p {
    transform: translateY(10%);
  }

  .slider-sheet:hover .sheet a {
    transform: translateY(30%);
  }

  .slider-sheet .title-div-h1 h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .sheet p {
    font-size: 1.5rem;
    color: white;
    width: 80%;
    margin: 0 auto;
    height: 180px;
    transition: 0.3s;
  }

  .sheet a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    width: 14rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 0.8rem;
    background: orange;
    transition: all 0.3s;
    box-shadow: 2px 2px 12px #090909;
  }

  .sheet a:hover {
    text-decoration: none;
    background: rgb(216, 141, 2);
    color: white;
  }
}
