div#containerbrecho {
  margin-top: 120px;
  width: 100%;
}

div#bannerbrecho {
  width: 100%;
  height: 81vh;
  background-image: url("/banner-brecho.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

div#text-banner {
  text-align: center;
  padding-top: 25rem;
}

div#bannerbrecho p {
  color: white;
  font-size: 2rem;
  line-height: 0px;
  text-shadow: 1px 1px 1px black;
}

div#bannerbrecho h1 {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}

.content-nucleo {
  width: 90%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#infinite-carrousel {
  display: flex;
  align-items: initial;
  width: 100%;
  overflow: hidden;
  position: relative;
  max-width: 680px;
}

div#infinite-carrousel:hover .btn-change-photo {
  background: rgba(0, 0, 0, 0.446);
  color: white;
  padding: 0;
  outline: none;
}

.carrousel-photo {
  min-width: 100%;
  overflow: hidden;
}

.content-nucleo p {
  font-size: 1.5rem;
  max-width: 680px;
  margin-top: 5rem;
}

.btn-change-photo {
  position: absolute;
  border: none;
  background: none;
  font-size: 4rem;
  height: 100%;
  outline: none;
  transition: 0.2s;
}

.btn-change-photo:hover {
  background: rgba(0, 0, 0, 0.446);
  color: white;
  padding: 0;
  outline: none;
}

.btn-change-photo:focus {
  outline: none;
}

.btn-change-left {
  left: 0;
  padding-left: 1rem;
}

.btn-change-right {
  right: 0;
  padding-right: 1rem;
}

#videos-content {
  display: flex;
  width: 90%;
  margin: 3rem auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#videos-content iframe {
  width: 100%;
  max-width: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

#videos-content p {
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 1024px) {
  #videos-content {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: initial;
  }

  #videos-content p {
    width: 100%;
    font-size: 1.5rem;
    padding: 0rem 2rem;
    text-align: initial;
  }

  .content-nucleo {
    display: flex;
    flex-direction: row;
    align-items: initial;
  }

  .content-nucleo p {
    width: 100%;
    font-size: 1.5rem;
    padding: 0rem 2rem;
    margin: 0;
  }
}
